.rounded {
    border-radius: 20% !important;
}
.card {
  background-color: white !important;
}
.btn-purple{
  border-color: black;
}
.btn-purple:hover{
  background-color: rgb(74, 48, 65);
  color: white;
}