.input-group{
    margin:15px;
}

@media (min-width: 576px) {
    .card-group.card-group-scroll {
        overflow-x: auto;
        flex-wrap: nowrap;
    }
}

.card-group.card-group-scroll > .card {
    flex-basis: 35%;
}
.card-group {
    padding-left: 0;
    margin-bottom: 70px;
}

.card {
    margin-right:25px;
}
.product-img{
    height: 225px;
    width: 225px;
}

.categoria{
    margin-bottom: 20px;
}

.btn-purple{
    border-color: black;
}
  .btn-purple:hover{
    background-color: rgb(74, 48, 65);
    color: white;
  }



.bottom-bar{
    background-color: white;
    overflow: hidden;
    /*position: fixed; */
    margin-left: 0;
    width: 100%;
}

.bottom-bar a:hover {
    background-color: rgb(240, 149, 210);
    color: white;
  }

.active {
    background-color: rgb(240, 149, 210);
}
.active p{
    color: white;
}
.bottom-bar a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }