.btn-purple{
    border-color: black;
    margin-top: 15px;
  }
  .btn-purple:hover{
    background-color: rgb(74, 48, 65);
    color: white;
  }

.entrada {
    margin-bottom: 15px;
}

.endereco {
    margin-top:25px
}
