{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'front/css/loja.css' %}">

<body>
    <div class="container" id="index">
        <div class="row">
            <img :src="banner" class="img-fluid mx-auto my-auto d-block" >
        </div>
        <div class="row">
            <div class="col-1">

            </div>
            <div class="col-10">
                <div class="input-group rounded">
                    <input type="search" class="form-control rounded" v-model="text" @input="onChange($event)" placeholder="Digite a busca aqui" aria-label="Search" aria-describedby="search-addon" />
                  </div>
            </div>
            <div class="col-1">
            </div>
        </div>
        <div class="row">
                <template v-for="categoria in categorias">
                    
                    <div class="card categoria">
                        <h5 class="card-header">[[categoria.description]]</h5>
                    </div>

                    <div class="card-group card-group-scroll">
                        <template v-for="produto in categoria.products">
                            <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
                                <div class="card">
                                    <img :src="produto.images[0].image"
                                      class="card-img-top product-img img-fluid mx-auto my-auto d-block" :alt="produto.description" />
                                    <div class="card-body">
                                        
                                      <div class="d-flex justify-content-between mb-3">
                                        <h5 class="mb-0">[[produto.short_description]]</h5>
                                        <h5 class="text-dark mb-0">R$ [[(Math.round(produto.stocks[0].unit_price * 100) / 100).toFixed(2)]]</h5>
                                      </div>
                          
                                      <div class="d-flex justify-content-between mb-2">
                                        <p class="text-muted mb-0">Disponivel: <span class="fw-bold">[[produto.available]]</span></p>
                                      </div>
                                      <div class="d-flex justify-content-between mb-2">
                                        <button class="btn btn-purple" type="button" v-on:click="detalheProduto(produto.id)" >Ver Detalhes</button>
                                        <button class="btn btn-purple" type="button" v-on:click="adicionarCarrinho(produto.id, produto.available, produto.stocks[0].unit_price, produto.short_description, produto.images[0].image)" >Adicionar ao Carrinho</button>
                                      </div>
                                    </div>
                                  </div>
                            </div>

                        </template>


                    </div>

                </template> 
 
        </div>
        <div class="row"></div>

        <div class="row bottom-bar fixed-bottom">
            <div class="col-4 nopadding">
                <a href="/"> <p class="text-center">Pagina Inicial</p> </a>
            </div>
            <div class="col-4 nopadding">
                <a href="/carrinho"> <p class="text-center">Carrinho([[listaCarrinho.length]])</p> </a>
            </div>
            <div class="col-4 nopadding">
                <a href="#"> <p class="text-center">Conta</p> </a>
            </div>
        </div>


</body>
<script src="{% static 'front/js/loja.js' %}"></script>

{% endblock %}
